<div class="container">
  <div class=" mt-4 col-md-4"></div>
    <h2>TodoList</h2>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
        <form method="POST" action="/ajouter">
            <div class="form-group">
              <label for="email">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    
    </div>
