<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/4dc03f2399.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/4dc03f2399.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <%-  include('./partials/nav.ejs')  %>
    <%-  include('./partials/form.ejs')  %>
    <%-  include('./partials/tabs.ejs')  %>

</body>
</html>